{
    "singleQuote": true,
    "printWidth": 120,
    "semi": false,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "auto",
    "eslintIntegration": true,
    "stylelintIntegration": true
}
