<%- include('partials/header') %>

<div class="container mt-5">
    <a href="/vueRegis" class="btn btn-lg-primary">Register</a>
</div>
    <!-- <h1>COder Sajjn</h1> -->
<%- include('partials/footer')  %> 